:root {
    /*COLORS*/
    --main-color: #8f754f;
    --heading-color: #303030;
    --color-gray: #666;
    --color-gray-2: #444;
    /* Fontweight */
    --fw-600: 600;
    --fw-700: 700;
    --fw-500: 500;
    /* transition */
    --transition: all .5s ease;
    /*Font family*/
    --custome-font: 'Alegreya', serif, monospace;
    --normal-font: 'Alegreya Sans', serif, monospace;
    
}
.gray-footer{
    background-color: rgb(64, 61, 56);
    color: #a29c9c;
}
.position-absolute{
    position: absolute;
}
.color-main{
    color: var(--main-color);
}
.heading-color{
    color: var(--heading-color);
}
body {
    font-family: var(--normal-font);
    color: var(--color-gray);
}

/*demo-panel-menu*/
.demo-panel-menu {
    position: fixed;
    top: 200px;
    right: 0;
    background-color: #f8f8f8;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 3;
}

.demo-panel-menu div {
    width: 30px;
    position: relative;
    cursor: pointer;
}

.demo-panel-menu span {
    position: absolute;
    top: 0;
    color: #fff;
    font-weight: 500;
    background-color: rgb(31, 98, 197);
    padding: 2px 8px;
    border-radius: 3px;
    display: none;
}

.demo-panel-menu div img {
    width: 100%;
}

.demo-panel-menu .dimo-1 {
    margin-bottom: 20px;
}

.demo-1 span {
    left: -126px;
}

.demo-2 span {
    left: -138px;
}

.demo-1:hover span {
    display: block;
}

.demo-2:hover span {
    display: block;
}

/* navbar */
.navbar{
border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
transition: var(--transition);
}

.navbar .logo{
    width: 15%;
}
.navbar .nav-link {
    color: #fff !important;
}
.navbar .navbar-toggler {
    background-color: #66666666;
    color: rgba(255, 255, 255, .55) ;
    border-color: rgba(255, 255, 255, .1);
}
.nav-link {
    padding:  15px !important;
    font-size: 13px;
    font-weight: var(--fw-600)!important;
    letter-spacing: .5px;
}
.navbar a:hover,
.nav-link.active {
    color: var(--main-color) !important
}
/* navbar mediaquery */
@media screen and (max-width: 767px) {
    .navbar .logo {
        width: 140px;
    }
}
@media screen and (max-width: 991px){
    .navbar-collapse{
        margin-top: 2%;
        background-color: #fff;
    }
    .navbar .nav-link {
        color: var(--heading-color) !important;
    }

    .nav-link.active {
        color: var(--main-color) !important
    }
}

/* Home */
.home {
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.home button {
    margin-right: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: var(--transition);
}

.learn-more {
    background-color: #8f754f;
    border: none;
}

.contact-us {
    border: 1px solid #fff;
}

.learn-more:hover,
.contact-us:hover {
    background-color: #fff !important;
    color: var(--heading-color) !important;
}
.pointer {
    width: 30px;
    height: 50px;
    bottom: 10px;
    cursor: pointer;
}
.pointer span {
    height: 8px;
    width: 8px;
    top: 3px;
    animation-name: moveTobottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moveTobottom {
    0% {
            opacity: 0;
            top: 10%;
        }
    
        50% {
            opacity: 1;
            top: 50%;
        }
    
        100% {
            opacity: 0;
            top: 80%;
        }
}

section{
    padding: 3%;
}
.our, .contact{
    background-color:rgb(242, 242, 242);
}
/* img{
    height: auto;
} */
/* footer */

.footer a{
    color: #a29c9c;
    transition: var(--transition);
}
.footer a:hover{
    color: white;
}
.footer h2{
    color: white;
}
.custome-border {
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(255, 255, 255, .5)
}
.footer .social li {
    color: var(--main-color);
    cursor: pointer;
    transition: var(--transition)
}

.footer .social li:hover {
    transform: scale(1.1);
}

#f:hover {
    color: #4267B2
}

#g:hover {
    color: #db4a39
}

#l:hover {
    color: #0072b1;
}

#t:hover {
    color: #00acee;
}
footer{
    background-color: rgb(53, 51, 48);
}